// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h1 a {
  text-decoration: none;
}

article header p.meta {
  padding-top: 5px;
  position: relative;
}

body > nav a {
  color: black;
}

body > nav a:visited {
  color: black;
}

body > nav a:hover {
  color: red;
}

body > nav li {
  font-family: $sans;
  font-size: 1.5em;
}

/* Navigation */
$nav-bg: transparent !default;
$nav-bg-front: transparent !default;
$nav-bg-back: transparent !default;
$nav-color: $text-color !default;
$nav-color-hover: $link-color !default;
$nav-placeholder: desaturate(darken($text-color, 10), 15) !default;
$nav-border: lighten($text-color-light, 38) !default;
$nav-border-top: lighten($site-bg, 50) !default;
$nav-border-bottom: $nav-border !default;
$nav-border-left: $nav-border !default;
$nav-border-right: #fff !default;